.header {
    color: black;
    background-color: burlywood;
}
.navbar{
    margin-top:0;
    margin-bottom:10px;

    background-color: burlywood;

}

.cart {
    width: 60px;
    height: 30px;
}

.container-fluid {
    height: 10%;
}

.cart-span span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart-span span:nth-child(2) {
    padding: 0 3px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
}

#search-btn {
    margin-top: 20px;
    margin-left: 10px;
}

.search {
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
}